.product{
    width: 100%;
    min-width: 400px;
    max-width: 700px;
    background-color:#eee;
    margin: auto;
    color:#666;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.product a{
    color:inherit;
}
.flex-parent{
    display: flex;
    justify-content:space-between;
    align-items:center;
    /* padding: 0 20px; */
    border-bottom: 2px solid #ccc;
}
.border-none{
    border-bottom: none;
}
.back{
    padding: 20px;
    text-decoration: none;
    text-transform: uppercase;
}
.product-image{
    width: 40%;
}
.product-info{
    flex: 0 1 60%;
    border-left: 2px solid #ccc;
    padding: 20px;
}
.product-info>h2,
.product-info>h3{
    margin: 0;
    text-transform: uppercase;
}
.product-info>h3{
    font-weight: 100;
    font-size: 0.8em;
}
.product-price{
    font-weight: 100;
    font-size: 2.5em;
    margin: 0.5em 0;
}
p{
    line-height: 1.8;
}
.group-btn>button{
    width: 45%;
    border: 1px solid #666;
    text-transform: uppercase;
    padding: 0.6em;
    font-size: 1.2em;
color:inherit;
margin-right: 10px;

}